<div class="page-container bg-[#64B5F6]">
  <app-navbar></app-navbar>
    <div class="text-center text-[#333333] font-rubik py-16 flex flex-col gap-10">
        <p class="text-3xl font-bold">
          Vállalkozásunk széleskörű kazán, cirkó és konvektor szerelési
          szolgáltatást nyújt Budapesten és a környező területeken.
        </p>
        <p class="text-xl font-medium">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores neque
          cumque molestiae nesciunt amet voluptas. Repudiandae est porro minima eos.
        </p>
      </div>
      <div class="flex text-[#F5F3F5] justify-center items-center pb-24 gap-10">
        <div class="w-80">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
          tenetur aperiam et dolore reiciendis magnam fuga, temporibus nostrum
          reprehenderit aut.<br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, fugit!
        </div>
        <div class="w-80">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
          tenetur aperiam et dolore reiciendis magnam fuga, temporibus nostrum
          reprehenderit aut.<br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, fugit!
        </div>
        <div class="w-80">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
          tenetur aperiam et dolore reiciendis magnam fuga, temporibus nostrum
          reprehenderit aut.<br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, fugit!
        </div>
      </div>

      <img src="assets/images/boiler3.jpg" class="sm:pt-20 ml-auto" alt="" />
</div>
