<div class="min-h-screen flex flex-col w-full bg-grad">
  <div class="w-full text-lg text-center flex flex-col gap-10 pt-10">
    <h1 class="drop-shadow-2xl font-bold sm:text-5xl font-ysabeau">Referenciák</h1>
    <h3 class="drop-shadow-xl sm:text-2xl font-thin">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, iusto!
    </h3>
  </div>

<!--   <div class="w-3/5 mx-auto pt-14 slider relative">
    <ng-image-slider
      #nav 
      [images]="imageObject"
      [manageImageRatio]="false"
      [imageSize]="{ width: '450px', height: '350px' }"
      [infinite]="true"
      [autoSlide]="1"
      [slideImage]="1"
      [showArrow]="true"
      [animationSpeed]="2"
    ></ng-image-slider>
  </div> -->
  <div class="my-5 sm:my-24 font-montserrat font-medium text-xl w-full flex flex-wrap justify-center gap-y-10 sm:gap-20 max-sm:px-5 text-whiteSmoke">
    <div class="flex max-w-lg text-center">
      Lorem ipsum dolor sit amet. Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Beatae dolorum fuga enim nesciunt eius perspiciatis nemo
      dolorem fugiat esse rem.
    </div>
    <div class="flex max-w-lg text-center">
      Lorem ipsum dolor sit amet. Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Beatae dolorum fuga enim nesciunt eius perspiciatis nemo
      dolorem fugiat esse rem.
    </div>
    <div class="flex max-w-lg text-center">
      Lorem ipsum dolor sit amet. Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Beatae dolorum fuga enim nesciunt eius perspiciatis nemo
      dolorem fugiat esse rem.
    </div>
  </div>

</div>

<!-- -->
<!-- [manageImageRatio]="true" -->
<!-- [imageSize]="{width: '250px', height: '200px'}"  -->
