<div class="h-full flex flex-col w-full bg-[#ffffff]">
  <div class="w-full text-lg text-center flex flex-col gap-10 pt-10">
    <h1 class="drop-shadow-2xl font-bold sm:text-5xl font-ysabeau">Rólunk</h1>
    <div
      class="drop-shadow-xl sm:text-2xl font-thin sm:px-44 flex flex-col gap-y-10 font-imprima"
    >
      <p class="leading-8">
        Arra törekszünk, hogy a legjobb minőségű gázkazán szerelési és
        karbantartási szolgáltatásokat nyújtsuk a budapesti és Pest megyei
        lakosok számára.
      </p>
      <p class="leading-9">
        Tapasztalt szakemberekből álló csapatunk elkötelezett az Ön egyedi
        igényeire szabott szolgáltatás nyújtása mellett, biztosítva, hogy fűtési
        rendszerének teljesítménye a lehető legnagyobb legyen. A gyors
        reakcióidőt és megbízható ügyfélszolgálatot kínáló egyedi
        értékrendünkkel megkönnyítjük Önnek, hogy otthona egész évben komfortos
        maradjon.
      </p>
      <p class="leading-9 max-sm:px-2">
        Hiszünk a hatékony energiagazdálkodással elérhető jobb jövőben -
        küldetésünk, hogy segítsünk egy olyan környezet megteremtésében, ahol az
        emberek biztonságosan használhatják az energiát anélkül, hogy a túlzott
        pazarlás vagy a magas számlák miatt kellene aggódniuk. Végső soron az a
        jövőképünk, hogy a minőségi fűtési megoldások legmegbízhatóbb forrásává
        váljunk, amely az ügyfeleket és a környezetet egyaránt védi.
      </p>
    </div>
  </div>
  <div class="h-full w-fit mx-auto py-10">
    <carousel [interval]="2500" [isAnimated]="true">
      <slide>
        <img
          src="assets/images/image-slider/boiler-repair-3.jpg"
          alt="first slide"
          style="display: block"
          class="rounded-xl"
        />
      </slide>
      <slide>
        <img
          src="assets/images/image-slider/boiler-repair-2.jpg"
          alt="second slide"
          style="display: block"
          class="rounded-xl"
        />
      </slide>
      <slide>
        <img
          src="assets/images/image-slider/boiler-repair-1.jpg"
          alt="third slide"
          style="display: block"
          class="rounded-xl"
        />
      </slide>
    </carousel>
  </div>
</div>

<!-- -->
<!-- [manageImageRatio]="true" -->
<!-- [imageSize]="{width: '250px', height: '200px'}"  -->
