<footer class="w-full relative">
  <div class="w-full max-sm:text-xs text-lg font-montserrat bg-darkGreenColor text-white flex justify-evenly items-center py-5">
    <div>
      <ul class="text-center ">
        <li routerLink="/contact" class="text-lightGreenColor sm:text-2xl cursor-pointer font-medium drop-shadow-lg">Elérhetőségeink</li>
        <li>info@kazanszerviz.net</li>
        <li>+36-30-123-4567</li>
      </ul>
    </div>
    <div>
      <ul class="text-center">
        <li routerLink="/services" class="text-lightGreenColor sm:text-2xl cursor-pointer font-medium drop-shadow-lg">Szolgáltatásaink</li>
        <li>Javítás</li>
        <li>Beüzemelés</li>
        <li>Időszakos karbantartás</li>
      </ul>
    </div>
    <div>
      <ul class="text-center">
        <li class="text-lightGreenColor sm:text-2xl cursor-pointer font-medium drop-shadow-lg">Egyéb tevékenységek</li>
        <li>Fűtésrendszer átmosás</li>
        <li>Ezt is csináljuk</li>
        <li>Meg ezt is</li>
      </ul>
    </div>
  </div>
</footer>
