<footer 
  class="w-screen bg-[#575757] transition duration-700 font-montserrat shadow-topShadow relative flex justify-between items-center px-4 py-7 z-50"
>
  <div class="">
    <ul class="text-left text-[#ffffff] pr-2">
      <li>Lorem.</li>
      <li>Lorem.</li>
    </ul>
  </div>
  <div class="">
    <ul class="text-center text-[#ffffff] pr-2">
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</li>
      <li>Lorem.</li>
    </ul>
  </div>
  <div class="">
    <ul class="text-right text-[#ffffff] pr-2">
      <li>Tamás Csaba E.V.</li>
      <li>Lorem ipsum</li>
    </ul>
  </div>
</footer>
