<div
  class="w-screen bg-[#00B8A3] relative text-base text-white flex shadow-bottomShadow py-5 pl-2 z-50 gap-10"
>
  <div class="font-rubik  flex gap-2">
    <p class="drop-shadow-base">
      <i class="fa-solid fa-phone fa-sm"></i> +36-30-123-4567
    </p>
    <p class="drop-shadow-base">
      <i class="fa-solid fa-envelope-open fa-sm"></i> address@email.hu
    </p>
    <!-- language selector -->
    <!--     <div class="flex gap-1">
      <img
        class="max-h-[20px] my-auto"
        src="assets/images/flag_en.png"
        alt="english"
        (click)="changeLanguage('en')"
      />
      <img
        class="max-h-[20px] my-auto"
        src="assets/images/flag_hu.png"
        alt="magyar"
        (click)="changeLanguage('hu')"
      />
    </div> -->
  </div>
  <div class="flex justify-center gap-2">
    <p><a routerLink="/contact">Kapcsolat</a></p>
    <p><a routerLink="/aboutus">Rólunk</a></p>
    <p><a routerLink="/services">Szolgáltatások</a></p>
    <p><a routerLink="/home">Home</a></p>
  </div>
  <!-- menu links -->
  <!-- <div
    class="flex text-white"
  >
    <div>
      <a
        class="nav-link drop-shadow-base"
        routerLink="/aboutus"
        (click)="onClick('aboutus')"
        >{{ "nav_aboutus" | translate }}</a
      >
    </div>
    <div>
      <a
        class="nav-link drop-shadow-base"
        routerLink="/contact"
        (click)="onClick('contact')"
        >{{ "nav_contact" | translate }}</a
      >
    </div>
    <div>
      <a
        class="nav-link drop-shadow-base"
        routerLink="/services"
        (click)="onClick('services')"
        >{{ "nav_services" | translate }}</a
      >
    </div>
  </div> -->
</div>
