.grad-bg {
  background: rgb(176,238,252);
  background: -moz-linear-gradient(0deg, rgba(176,238,252,1) 0%, rgba(233,238,238,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(176,238,252,1) 0%, rgba(233,238,238,1) 100%);
  background: linear-gradient(0deg, rgba(176,238,252,1) 0%, rgba(233,238,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b0eefc",endColorstr="#e9eeee",GradientType=1); 
}
