<div class="bg-[#e4e4e7] w-full h-full #scrollContainer">
  <section
    id="section1"
    class="w-full flex items-center h-screen "
  >
    <div class="mx-auto my-auto w-1/2">
      <h1>Gázkészülék javítás</h1>
      <p>
        0Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod dicta
        ab, magnam libero nulla assumenda architecto eos sunt ad quia commodi id
        voluptatibus excepturi necessitatibus perferendis ipsam quam eaque.
        Tempore repellat officiis eius, ab officia, sed quis doloremque corrupti
        libero a, ea voluptatum nihil repudiandae adipisci nesciunt expedita!
        Error officiis at nesciunt ad est expedita!
      </p>
    </div>
  </section>
  <section
    id="section2"
    class="w-full flex items-center h-screen "
  >
    <div class="mx-auto my-auto w-1/2">
      <h1>Gázkészülék karbantartás</h1>
      <p>
        1Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod dicta
        ab, magnam libero nulla assumenda architecto eos sunt ad quia commodi id
        voluptatibus excepturi necessitatibus perferendis ipsam quam eaque.
        Tempore repellat officiis eius, ab officia, sed quis doloremque corrupti
        libero a, ea voluptatum nihil repudiandae adipisci nesciunt expedita!
        Error officiis at nesciunt ad est expedita!
      </p>
    </div>
  </section>
  <section
    id="section3"
    class="w-full flex items-center h-screen "
  >
    <div class="mx-auto my-auto w-1/2">
      <h1>Gázkészülék csere</h1>
      <p>
        2Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod dicta
        ab, magnam libero nulla assumenda architecto eos sunt ad quia commodi id
        voluptatibus excepturi necessitatibus perferendis ipsam quam eaque.
        Tempore repellat officiis eius, ab officia, sed quis doloremque corrupti
        libero a, ea voluptatum nihil repudiandae adipisci nesciunt expedita!
        Error officiis at nesciunt ad est expedita!
      </p>
    </div>
  </section>
  <section
    id="section4"
    class="w-full flex items-center h-screen "
  >
    <div class="mx-auto my-auto w-1/2">
      <h1>Üzembehelyezés</h1>
      <p>
        3AAAAAAAAAAAAAALorem ipsum dolor sit, amet consectetur adipisicing elit.
        Quod dicta ab, magnam libero nulla assumenda architecto eos sunt ad quia
        commodi id voluptatibus excepturi necessitatibus perferendis ipsam quam
        eaque. Tempore repellat officiis eius, ab officia, sed quis doloremque
        corrupti libero a, ea voluptatum nihil repudiandae adipisci nesciunt
        expedita! Error officiis at nesciunt ad est expedita!
      </p>
    </div>
  </section>
  <section
    id="section5"
    class="w-full flex items-center h-screen "
  >
    <div class="mx-auto my-auto w-1/2">
      <h1>Fűtésrendszer átmosás</h1>
      <p>
        4Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod dicta
        ab, magnam libero nulla assumenda architecto eos sunt ad quia commodi id
        voluptatibus excepturi necessitatibus perferendis ipsam quam eaque.
        Tempore repellat officiis eius, ab officia, sed quis doloremque corrupti
        libero a, ea voluptatum nihil repudiandae adipisci nesciunt expedita!
        Error officiis at nesciunt ad est expedita!
      </p>
    </div>
  </section>
</div>
