<div class="min-h-screen bg-gray-100 p-0 sm:p-12">
  <div
    class="mx-auto max-w-md px-6 py-12 bg-white border-0 shadow-lg sm:rounded-3xl"
  >
    <p class="text-[18px] text-left font-montserrat font-bold mb-8">
      Lépjen velünk kapcsolatba az alábbi űrlap kitöltésével vagy
      elérhetőségeinken.
    </p>
    <form id="form" (submit)="submitForm()">
      <div class="relative z-0 w-full mb-5">
        <input
          type="text"
          name="name"
          id="name"
          [(ngModel)]="name"
          placeholder=" "
          required
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
        />
        <label
          for="name"
          class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"
          >Név</label
        >
      </div>

      <div class="relative z-0 w-full mb-5">
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          placeholder=" "
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
        />
        <label
          for="email"
          class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"
          >Email cím</label
        >
      </div>
      <div class="relative z-0 w-full mb-5">
        <input
          type="text"
          id="telephone"
          name="telephone"
          [(ngModel)]="telephone"
          required
          placeholder=" "
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
        />
        <label
          for="telephone"
          class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"
          >Telefonszám</label
        >
      </div>
      <div class="relative z-0 w-full mb-6">
        <input
          type="text"
          id="location"
          name="location"
          [(ngModel)]="location"
          required
          placeholder=" "
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
        />
        <label
          for="location"
          class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"
          >Település / kerület:
        </label>
      </div>
      <fieldset class="relative z-0 w-full p-px mb-5">
        <legend
          class="absolute text-gray-500 transform scale-75 -top-3 origin-0"
        >
          Miben segíthetünk?
        </legend>
        <div class="flex justify-stretch gap-4 py-3 flex-wrap">
          <label>
            <input
              type="checkbox"
              id="checkbox1"
              name="checkboxes"
              value="Gázkészülék javítás"
              [checked]="isSelected('Gázkészülék javítás')"
              (change)="toggleCheckbox('Gázkészülék javítás')"
              class="mr-2 text-black border-2 border-gray-300 focus:border-gray-300 focus:ring-black"
            />
            Gázkészülék javítás
          </label>
          <label>
            <input
              type="checkbox"
              id="checkbox2"
              name="checkboxes"
              value="Időszakos karbantartás"
              [checked]="isSelected('Időszakos karbantartás')"
              (change)="toggleCheckbox('Időszakos karbantartás')"
              class="mr-2 text-black border-2 border-gray-300 focus:border-gray-300 focus:ring-black"
            />
            Időszakos karbantartás
          </label>
          <label>
            <input
              type="checkbox"
              id="checkbox3"
              name="checkboxes"
              value="Beüzemelés"
              [checked]="isSelected('Beüzemelés')"
              (change)="toggleCheckbox('Beüzemelés')"
              class="mr-2 text-black border-2 border-gray-300 focus:border-gray-300 focus:ring-black"
            />
            Beüzemelés
          </label>
          <label>
            <input
              type="checkbox"
              id="checkbox4"
              name="checkboxes"
              value="Egyéb"
              [checked]="isSelected('Egyéb')"
              (change)="toggleCheckbox('Egyéb')"
              class="mr-2 text-black border-2 border-gray-300 focus:border-gray-300 focus:ring-black"
            />
            Egyéb
          </label>
          <!-- Szolgáltatások: Javítás, időszakos karbantartás, beüzemelés, fűtési rendszer tisztítása -->
        </div>
      </fieldset>
      <div class="relative z-0 w-full mb-5">
        <input
          type="text"
          id="message"
          name="message"
          [(ngModel)]="message"
          required
          placeholder=" "
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
        />
        <label
          for="message"
          class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500"
          >Egyéb üzenet</label
        >
      </div>

      <button
        *ngIf="!showMessage"
        [disabled]="isSubmitting"
        type="submit"
        class="w-full px-6 py-3 mt-3 text-lg text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-flameColor hover:bg-pink-600 hover:shadow-lg focus:outline-none"
      >
        {{ isSubmitting ? "Küldés, kérem várjon..." : "Küldés" }}
      </button>
    </form>
    <div *ngIf="showMessage" class="flex flex-col font-normal text-xl py-5">
      <span>{{ responseMessage }}</span>
    </div>
  </div>
</div>
