<div class="hidden sm:block fixed bottom-2 right-2">
  <a
    (click)="changeLanguage('hu')"
    class="inline-flex sm:p-3 items-center"
    *ngIf="currentLanguage !== 'hu'"
  >
    <span
      ><img src="assets/images/hungary(1).png" alt="flag" class="max-h-7 opacity-30 hover:opacity-100 cursor-pointer"
    /></span>
  </a>
  <a
    (click)="changeLanguage('en')"
    class="inline-flex sm:p-3 items-center"
    *ngIf="currentLanguage !== 'en'"
  >
    <span
      ><img src="assets/images/uk-flag.png" alt="flag" class="max-h-7 opacity-30 hover:opacity-100 cursor-pointer"
    /></span>
  </a>
</div>
