<div class="absolute flex gap-2 w-full bottom-0 right-[65px] bg-black">
  <img
    (click)="changeLanguage('en')"
    src="assets/images/flag_en.png"
    alt="en"
    class="w-[40px] h-[20px]"
  />
  <img
    (click)="changeLanguage('hu')"
    src="assets/images/flag_hu.png"
    alt="hu"
  />
  <!-- <a (click)="changeLanguage('hu')">Hungarian</a> -->
</div>
<!--     <div class="flex gap-1">
        <img
        class=""
        src="assets/images/flag_en.png"
        alt="english"
        (click)="changeLanguage('en')"
      />
      <img
        class=""
        src="assets/images/flag_hu.png"
        alt="magyar"
        (click)="changeLanguage('hu')"
      />
      </div>
 -->
