<div class="w-screen flex flex-col bg-[#3ABFC6]">
  <div class="text-center text-[#333333] font-rubik flex flex-col my-20 gap-2">
    <p class="text-3xl">
      Vállalkozásunk széleskörű kazán, cirkó és konvektor szerelési
      szolgáltatást nyújt Budapesten és a környező területeken.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores neque
      cumque molestiae nesciunt amet voluptas. Repudiandae est porro minima eos.
    </p>
  </div>

  <div class="flex text-[#F5F3F5] justify-center items-center pb-20 gap-10">
    <div class="w-1/4 h-40">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      tenetur aperiam et dolore reiciendis magnam fuga, temporibus nostrum
      reprehenderit aut.<br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, fugit!
    </div>
    <div class="w-1/4 h-40">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      tenetur aperiam et dolore reiciendis magnam fuga, temporibus nostrum
      reprehenderit aut.<br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, fugit!
    </div>
    <div class="w-1/4 h-40">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      tenetur aperiam et dolore reiciendis magnam fuga, temporibus nostrum
      reprehenderit aut.<br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, fugit!
    </div>
  </div>
  <div class="flex justify-center">
    <p><a routerLink="/contact">Kapcsolat</a></p>
    <p><a routerLink="/aboutus">Rólunk</a></p>
    <p><a routerLink="/services">Szolgáltatások</a></p>
    <p><a routerLink="/home">Home</a></p>
  </div>
  <img src="assets/images/boiler2.jpg" alt="" class="mt-20 ml-auto" />
</div>
