<div class="bg-[white] w-full min-h-screen relative flex flex-col pt-28">
  <div
    class="select-none text-center max-sm:mx-4 font-montserrat pt-5 sm:pt-6 pb-10 flex flex-col z-10"
  >
    <p
      class="text-2xl sm:text-4xl drop-shadow-xl shadow-gray-900 text-[#575757] font-bold"
    >
      Miben segíthetünk?
    </p>
    <hr
      class="mt-3 sm:w-[450px] w-full mx-auto h-[2px] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-flameColor to-transparent opacity-25 dark:opacity-100"
    />
    <!--
   <p class="text-md sm:text-xl text-flameColor font-medium">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores neque
    cumque molestiae nesciunt amet voluptas. Repudiandae est porro minima eos.
  </p> -->
  </div>
  <div
    class="flex w-full flex-wrap text-black justify-center items-center gap-x-10 gap-y-5 my-4 z-10 sm:px-10"
  >
    <!--   cards container -->
    <!-- card -->
    <div
      class="max-w-[330px] max-sm:mx-5 hover:scale-110 transition duration-500 ease-in-out card-border hover:border-flameColor rounded-xl overflow-hidden shadow-lg"
    >
      <img
        class="w-full cursor-pointer border-b-[2px] border-gray-500 hover:border-flameColor duration-700"
        src="assets/images/boiler-repair-2.jpg"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-flameColor">
          Gázkészülék javítás
        </div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.aaaa
        </p>
      </div>
    </div>
    <!-- card -->
    <div
      class="max-w-[330px] max-sm:mx-5 hover:scale-110 transition duration-500 ease-in-out card-border hover:border-flameColor rounded-xl overflow-hidden shadow-lg"
    >
      <img
        class="w-full cursor-pointer border-b-[2px] border-gray-500 hover:border-flameColor duration-700"
        src="assets/images/boiler-repair-2.jpg"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-flameColor">
          Gázkészülék karbantartás
        </div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.aaaa
        </p>
      </div>
    </div>
    <!-- card -->
    <div
      class="max-w-[330px] max-sm:mx-5 hover:scale-110 transition duration-500 ease-in-out card-border hover:border-flameColor rounded-xl overflow-hidden shadow-lg"
    >
      <img
        class="w-full cursor-pointer border-b-[2px] border-gray-500 hover:border-flameColor duration-700"
        src="assets/images/boiler-repair-2.jpg"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-flameColor">
          Gázkészülék csere
        </div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.aaaa
        </p>
      </div>
    </div>
    <!-- card -->
    <div
      class="max-w-[330px] max-sm:mx-5 hover:scale-110 transition duration-500 ease-in-out card-border hover:border-flameColor rounded-xl overflow-hidden shadow-lg"
    >
      <img
        class="w-full cursor-pointer border-b-[2px] border-gray-500 hover:border-flameColor duration-700"
        src="assets/images/boiler-repair-2.jpg"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-flameColor">Üzembehelyezés</div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.aaaa
        </p>
      </div>
    </div>
    <!-- card -->
    <div
      class="max-w-[330px] max-sm:mx-5 hover:scale-110 transition duration-500 ease-in-out card-border hover:border-flameColor rounded-xl overflow-hidden shadow-lg"
    >
      <img
        class="w-full cursor-pointer border-b-[2px] border-gray-500 hover:border-flameColor duration-700"
        src="assets/images/boiler-repair-2.jpg"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2 text-flameColor">
          Fűtésrendszer átmosás
        </div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.aaaa
        </p>
      </div>
    </div>
  </div>
</div>
