<div class="page-container justify-center bg-zinc-200">
  <div class="text-center text-5xl py-10"><h1>Valami cím</h1></div>
  <div class="text-center text-xl"><h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores neque cumque molestiae nesciunt amet voluptas. Repudiandae est porro minima eos.</h2></div>
  <div class="flex gap-10 py-20 items-center justify-center">
      <div><img src="assets/images/image3.jpg" alt=""></div>
      <div><img src="assets/images/image1.jpg" alt=""></div>
    <div><img src="assets/images/image2.jpg" alt=""></div>
  </div>
</div>
