<div class="bg-grad w-full min-h-full relative flex flex-col gap-5 sm:gap-20">
  <div
    class="select-none text-center max-sm:mx-4 font-ysabeau pt-2 flex flex-col z-10 max-sm:py-10 sm:pt-24"
  >
    <p
      class="text-2xl sm:text-4xl drop-shadow-sm select-none tracking-wide font-bold text-darkGreenColor"
    >
      Miben segíthetünk?
    </p>
    <hr
      class="mt-3 sm:w-[450px] w-full mx-auto h-[2px] border-t-0 bg-transparent bg-gradient-to-r from-transparent via-darkGreenColor to-transparent opacity-25 dark:opacity-100"
    />
  </div>
  <!--   cards container -->
  <div
    class="flex w-full flex-wrap text-black font-montserrat justify-center items-center gap-x-10 gap-y-5 z-10 sm:px-10"
  >
    <!-- card -->
    <div
      class="max-w-[330px] max-sm:mx-5 card-border rounded-xl overflow-hidden shadow-lg"
    >
      <img
        (click)="navigateToSection('section1')"
        class="w-full cursor-pointer border-b-[2px] border-gray-500 duration-700"
        src="assets/images/boiler-repair-2.jpg"
        alt="Sunset in the mountains"
      />
      <div class="px-6 py-4 bg-[#ffffffb2] text-center card">
        <div
          class="cursor-pointer font-bold text-xl mb-2 text-darkGreenColor tracking-wide whitespace-nowrap"
          (click)="navigateToSection('section1')"
        >
          Gázkészülék javítás
        </div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.aaaa
        </p>
      </div>
    </div>
    <!-- card -->
    <div
      class="max-w-[330px] max-sm:mx-5 card-border rounded-xl overflow-hidden shadow-lg"
    >
      <img
        (click)="navigateToSection('section2')"
        class="w-full cursor-pointer border-b-[2px] border-gray-500 duration-700"
        src="assets/images/boiler-repair-2.jpg"
        alt="Sunset in the mountains"
        />
        <div class="px-6 py-4 bg-[#ffffffb2] text-center card2">
          <div
          class="cursor-pointer font-bold text-xl mb-2 text-darkGreenColor tracking-wide whitespace-nowrap"
          (click)="navigateToSection('section2')"
        >
          Gázkészülék karbantartás
        </div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.aaaa
        </p>
      </div>
    </div>
    <!-- card -->
    <div
      class="max-w-[330px] max-sm:mx-5 card-border rounded-xl overflow-hidden shadow-lg"
    >
      <img
        (click)="navigateToSection('section3')"
        class="w-full cursor-pointer border-b-[2px] border-gray-500 duration-700"
        src="assets/images/boiler-repair-2.jpg"
        alt="Sunset in the mountains"
        />
        <div class="px-6 py-4 bg-[#ffffffb2] text-center card3">
          <div
          (click)="navigateToSection('section3')"
          class="cursor-pointer font-bold text-xl mb-2 text-darkGreenColor tracking-wide whitespace-nowrap"
        >
          Gázkészülék csere
        </div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.aaaa
        </p>
      </div>
    </div>
    <!-- card -->
    <div
      class="max-w-[330px] max-sm:mx-5 ease-in-out card-border rounded-xl overflow-hidden shadow-lg"
    >
      <img
      (click)="navigateToSection('section4')"
      class="w-full cursor-pointer border-b-[2px] border-gray-500 duration-700"
      src="assets/images/boiler-repair-2.jpg"
      alt="Sunset in the mountains"
      />
      <div class="px-6 py-4 bg-[#ffffffb2] text-center card4">
        <div
        class="cursor-pointer font-bold text-xl mb-2 text-darkGreenColor tracking-wide whitespace-nowrap"
        (click)="navigateToSection('section4')"
        >
          Üzembehelyezés
        </div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.aaaa
        </p>
      </div>
    </div>
    <!-- card -->
    <div
      class="max-w-[330px] max-sm:mx-5 ease-in-out card-border rounded-xl overflow-hidden shadow-lg"
    >
      <img
        (click)="navigateToSection('section5')"
        class="w-full cursor-pointer border-b-[2px] border-gray-500 duration-700"
        src="assets/images/boiler-repair-2.jpg"
        alt="Sunset in the mountains"
        />
        <div class="px-6 py-4 bg-[#ffffffb2] text-center card5">
          <div
          class="cursor-pointer font-bold text-xl mb-2 text-darkGreenColor tracking-wide whitespace-nowrap"
          (click)="navigateToSection('section5')"
        >
          Fűtésrendszer átmosás
        </div>
        <p class="text-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.aaaa
        </p>
      </div>
    </div>
  </div>
  <app-header></app-header>
</div>
