.bg-grad {
  background: rgb(166,216,223);
  background: -moz-linear-gradient(0deg, rgba(166,216,223,1) 36%, rgba(180,223,230,1) 67%, rgba(233,238,238,1) 96%);
  background: -webkit-linear-gradient(0deg, rgba(166,216,223,1) 36%, rgba(180,223,230,1) 67%, rgba(233,238,238,1) 96%);
  background: linear-gradient(0deg, rgba(166,216,223,1) 36%, rgba(180,223,230,1) 67%, rgba(233,238,238,1) 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a6d8df",endColorstr="#e9eeee",GradientType=1); 
}
